@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sora";
    src: url("$fonts/Sora/Sora-VariableFont_wght.woff2")
        format("woff2 supports variations"),
      url("$fonts/Sora/Sora-VariableFont_wght.woff2") format("woff2-variations");
    font-weight: 100 800;
  }

  html {
    @apply text-gray-950;
  }
}

@layer components {
  .btn {
    @apply bg-brand hover:bg-sky-700 text-white font-medium transition-colors;
  }

  .btn-outline {
    @apply text-brand border border-brand rounded-lg font-medium hover:bg-slate-100 transition-colors;
  }

  .link {
    @apply font-light text-brand hover:opacity-50;
  }
}
